#home {
    height: 865px;  
    margin: 0 auto; 
    width: 100%; 
    max-width: 2000px; 
    position: relative;
}

/* Introduction */

#home .home-bg{
    width: 100%;
    height: 100%;
    position: absolute;
    background-image: url('../img/line-home.png');
    background-repeat: no-repeat;
    background-position: 0 0;
    top: 0;
    z-index: 15;
    pointer-events: none;
}

#home .logo {
    background: url(../img/logo-project.svg) 120px 0 no-repeat;
    background-size: 140px;
    height: 140px; 
    position: absolute; 
    text-indent: -9999px; 
    top: 100px; 
    width: 100%; 
    z-index: 5000; 
    -webkit-backface-visibility: hidden;
    -webkit-animation: logoAnimation 2s;
    -moz-animation: logoAnimation 2s;
    -o-animation: logoAnimation 2s;
    -ms-animation: logoAnimation 2s;
    animation: logoAnimation 2s;
}
#home .slogan {
    font-weight: 200;
    font-size: 60px;
    color: #fff;
    line-height: 55px;
    text-transform: uppercase;
    display:inline-block;
    position: absolute;
    z-index: 5000; 
    -webkit-backface-visibility: hidden;
    -webkit-animation: logoAnimation 2s;
    -moz-animation: logoAnimation 2s;
    -o-animation: logoAnimation 2s;
    -ms-animation: logoAnimation 2s;
    animation: logoAnimation 2s;
}
#home .title-border-top, #home .title-border-bottom{
    position: absolute;
    z-index: 5000;
    margin-top: 0;
    -webkit-backface-visibility: hidden;
    -webkit-animation: logoAnimation 1s;
    -moz-animation: logoAnimation 1s;
    -o-animation: logoAnimation 1s;
    -ms-animation: logoAnimation 1s;
    animation: logoAnimation 1s;
}
#home .scroll-down{
    position: absolute;
    font-family: 'Gotham', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: normal;
    font-style: italic;
    color: #fff;
    font-size: 130%;
    cursor: pointer;
    -webkit-backface-visibility: hidden;
    -webkit-animation: scrollAnimation 3s;
    -moz-animation: scrollAnimation 3s;
    -o-animation: scrollAnimation 3s;
    -ms-animation: scrollAnimation 3s;
    animation: scrollAnimation 3s;
    pointer-events: all;
}
#home .scroll-down div{
    background: url('../img/arrow-scroll.png') 13px 0 no-repeat;
    margin-top: 4px;
    min-height: 5px;
    height: 100%;
    min-height: 19px;
    margin-top: -10px;
    -webkit-transition: all 0.3s ease-in-out;
       -moz-transition: all 0.3s ease-in-out;
        -ms-transition: all 0.3s ease-in-out;
         -o-transition: all 0.3s ease-in-out;
            transition: all 0.3s ease-in-out;
}
#home .scroll-down div:nth-child(1){
    opacity: 0.3
}
#home .scroll-down div:nth-child(2){
    opacity: 0.6;
    -webkit-transition-delay:0.1s;
    transition-delay: 0.1s;
}
#home .scroll-down div:nth-child(3){
    opacity: 1;
    -webkit-transition-delay:0.2s;
    transition-delay: 0.2s;
}
#home .scroll-down div.blink{
    opacity: 1;
}
#home .scroll-down div.blink:nth-child(2){
    opacity: 1;
}
#home .scroll-down div.blink:nth-child(3){
    opacity: 1;
}
#home .scroll-down div:last-child{
    background: none;
    margin-top: 15px;
}

.cb-slideshow{ 
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    z-index: 0; 
    height: 865px;
    margin: 0;
    padding: 0;
}
.cb-slideshow li{
    list-style: none;
    display: inline-block;
    width: 100%;
    height: 100%;
    position: absolute;
    opacity: 0;
}
.cb-slideshow li:first-child{
    opacity: 0;
}
.cb-slideshow li a{
    width: 100%;
    height: 100%;
}
.cb-slideshow li span { 
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    color: transparent;
    background-size: cover;
    background-position: 50% 0;
    background-repeat: no-repeat;
    opacity: 1;
    z-index:8;
    position: fixed;
}
.cb-slideshow li div h3 { 
    font-family: 'BebasNeueRegular', 'Arial Narrow', Arial, sans-serif;
    font-size: 240px;
    padding: 0;
    line-height: 200px; 
}
.cb-slideshow li.active {
    z-index:10;
}

.cb-slideshow li.last-active {
    z-index:9;
}
.cb-slideshow li > span > div{
    width: 100%;
    height: 100%;
}
.cb-slideshow li > span > div.video{
    background: url('../img/play-btn.png') center center no-repeat;
}
.cb-slideshow li > span > div.video iframe{
    display: none;
}
/* Animation for the slideshow images */
@-webkit-keyframes logoAnimation { 
    0% { opacity: 0; }
    60% { opacity: 0;
    -webkit-animation-timing-function: ease-in; }
    100% { opacity: 1; }
}
@-moz-keyframes logoAnimation { 
    0% { opacity: 0; }
    60% { opacity: 0;
    -webkit-animation-timing-function: ease-in; }
    100% { opacity: 1; }
}
@-o-keyframes logoAnimation { 
    0% { opacity: 0; }
    60% { opacity: 0;
    -webkit-animation-timing-function: ease-in; }
    100% { opacity: 1; }
}
@-ms-keyframes logoAnimation { 
    0% { opacity: 0; }
    60% { opacity: 0;
    -webkit-animation-timing-function: ease-in; }
    100% { opacity: 1; }
}
@keyframes logoAnimation { 
    0% { opacity: 0; }
    60% { opacity: 0;
    -webkit-animation-timing-function: ease-in; }
    100% { opacity: 1; }
}
@-webkit-keyframes scrollAnimation { 
    0% { opacity: 0; }
    60% { opacity: 0;
    -webkit-animation-timing-function: ease-in; }
    100% { opacity: 1; }
}
@-moz-keyframes scrollAnimation { 
    0% { opacity: 0; }
    60% { opacity: 0;
    -webkit-animation-timing-function: ease-in; }
    100% { opacity: 1; }
}
@-o-keyframes scrollAnimation { 
    0% { opacity: 0; }
    60% { opacity: 0;
    -webkit-animation-timing-function: ease-in; }
    100% { opacity: 1; }
}
@-ms-keyframes scrollAnimation { 
    0% { opacity: 0; }
    60% { opacity: 0;
    -webkit-animation-timing-function: ease-in; }
    100% { opacity: 1; }
}
@keyframes scrollAnimation { 
    0% { opacity: 0; }
    60% { opacity: 0;
    -webkit-animation-timing-function: ease-in; }
    100% { opacity: 1; }
}
/* Show at least something when animations not supported */
.no-cssanimations .cb-slideshow li span{
	opacity: 1;
}

@media only screen and (min-width: 980px) and (max-width: 1024px) {
    
    #home .home-bg{
        background-image: url('../img/diagonal-line-light-1024.png');
    }
    
}

@media only screen and (min-width: 1025px) and (max-width: 1440px) {
    
    #home .home-bg{
        background-image: url('../img/diagonal-line-light-1440.png');
    }
    
}

@media only screen and (min-width: 1441px) and (max-width: 1920px) {
    
    #home .home-bg{
        background-image: url('../img/diagonal-line-light-2560.png');
    }
    
}

@media only screen and (min-width: 1921px){
    
    #home .home-bg{
        background-image: url('../img/diagonal-line-light-2560.png');
    }
    
}