/*
	Theme Name: HTML5 Blank
	Theme URI: http://html5blank.com
	Description: HTML5 Blank WordPress Theme
	Version: 1.4.2
	Author: Todd Motto (@toddmotto)
	Author URI: http://toddmotto.com
	Tags: Blank, HTML5, CSS3
	
	License: MIT
	License URI: http://opensource.org/licenses/mit-license.php
*/

/*------------------------------------*\
    MAIN
\*------------------------------------*/

/* global box-sizing */
*,
*:after,
*:before {
	box-sizing:border-box;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	-webkit-font-smoothing:antialiased;
	font-smoothing:antialiased;
	text-rendering:optimizeLegibility;
}
/* html element 62.5% font-size for REM use */
html {
	font-size:62.5%;
        margin: 0;
        padding: 0;
        height: 100%
}
body {
    font-family: 'Gotham', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 200;
    font-size: 11px;
    color:#3a373a;
    margin: 0;
    padding: 0;
    min-height: 100%;
}
/* clear */
.clear:before,
.clear:after {
    content:' ';
    display:table;
}

.clear:after {
    clear:both;
}
.clear {
    *zoom:1;
}
img {
	max-width:100%;
	vertical-align:bottom;
}
a {
	color:#3a373a;
	text-decoration:none;
}
a:hover {
	color:#3a373a;
}
a:focus {
	outline:0;
}
a:hover,
a:active {
	outline:0;
}
input:focus {
	outline:0;
}

.underline {
    padding: 0 0 1px;
}

.underline::after {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 1px;
    background: #f01776;
    content: '';
    opacity: 0;
    -webkit-transition: height 0.3s, opacity 0.3s, -webkit-transform 0.3s;
    -moz-transition: height 0.3s, opacity 0.3s, -moz-transform 0.3s;
    transition: height 0.3s, opacity 0.3s, transform 0.3s;
    -webkit-transform: translateY(-10px);
    -moz-transform: translateY(-10px);
    transform: translateY(-10px);
}

.underline:hover::after,
.underline:focus::after,
.underline.selected::after{
    height: 3px;
    opacity: 1;
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    transform: translateY(0px);
}

/*------------------------------------*\
    STRUCTURE
\*------------------------------------*/

/* wrapper */
.wrapper {
    width:100%;
    height: 100%;
    margin:0 auto;
    position:relative;
}
/* header */
header {
    height: 100px;
    border-bottom: 1px solid #ddd;
    display: inline-block;
    width: 100%;
    background-color: #fff;
    float: left;
    position: relative;
    z-index: 5000;
}
/* logo */
.logo-link{
    display: inline-block;
    width: 12.5%;
    height: 62px;
    float: left;
}
.logo {
    background-image: url('img/logo.png');
    background-size: 85px;
    background-repeat: no-repeat;
    background-position: 50% 47%;
    width: 100%;
    height: 100%;
    display: inline-block;
    float: left;
}
.logo-img {
    
}
/* nav */
.top-nav{
    height: 35px;
    width: 100%;
    display: inline-block;
    text-align: right;
    background-color: #f6f6f6;
    border-bottom: 1px solid #ddd;
    position: relative;
    float: left;
    z-index: 4000;
}
.top-nav li{
    list-style: none;
    display: inline-block;
    border-left: 1px solid #ddd;
    height: 35px;
    width: 120px;
    text-align: center;
    vertical-align: middle;
    font-family: 'Gotham', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: normal;
    font-size: 80%;

}
.top-nav li.bandeau{
    width: 140px
}
.top-nav li.bandeau a{
    padding-left: 30px;
}
.top-nav li.bandeau a > div{
    display: inline-block;
    color: #fff;
    float: left;
    position: absolute;
    background-image: url('img/bandeau.png');
    background-size: 24px 30px;
    width: 24px;
    height: 30px;
    margin-left: -28px;
}
.top-nav li.search{ 
    background-image: url('img/loupe.png'); 
    background-position: 30px 10px;
    background-repeat: no-repeat;
    background-size: 15px;  
    -webkit-transition: all 0.3s ease-in-out;
       -moz-transition: all 0.3s ease-in-out;
        -ms-transition: all 0.3s ease-in-out;
         -o-transition: all 0.3s ease-in-out;
            transition: all 0.3s ease-in-out;
}
.top-nav li.search:hover{ 
    background-image: url('img/loupe-pink.png');
    background-size: 15px;  
}
.top-nav li.social{ width: 75px; }
.top-nav li.pinterest{ 
    background-image: url('img/social-icons/pin-top-15.png'); 
    background-position: 31px 10px; 
    background-repeat: no-repeat; 
    background-size: 15px; 
    -webkit-transition: all 0.3s ease-in-out;
       -moz-transition: all 0.3s ease-in-out;
        -ms-transition: all 0.3s ease-in-out;
         -o-transition: all 0.3s ease-in-out;
            transition: all 0.3s ease-in-out;
}
.top-nav li.pinterest:hover{
    background-image: url('img/social-icons/pin-15-c.png');
}
.top-nav li.twitter{ 
    background-image: url('img/social-icons/twitter-top-20.png');
    background-position: 31px 12px; 
    background-repeat: no-repeat;
    background-size: 12px; 
    -webkit-transition: all 0.3s ease-in-out;
       -moz-transition: all 0.3s ease-in-out;
        -ms-transition: all 0.3s ease-in-out;
         -o-transition: all 0.3s ease-in-out;
            transition: all 0.3s ease-in-out;
}
.top-nav li.twitter:hover{ 
    background-image: url('img/social-icons/twitter-20-c.png');
}
.top-nav li.facebook{ 
    background-image: url('img/social-icons/fb-top-20.png');
    background-position: 31px 10px; 
    background-repeat: no-repeat; 
    background-size: 15px; 
    -webkit-transition: all 0.3s ease-in-out;
       -moz-transition: all 0.3s ease-in-out;
        -ms-transition: all 0.3s ease-in-out;
         -o-transition: all 0.3s ease-in-out;
            transition: all 0.3s ease-in-out;
}
.top-nav li.facebook:hover{
    background-image: url('img/social-icons/fb-20-c.png');
}
.top-nav li a{ height: 100%; display: inline-block; width: 100%; line-height: 37px; font-size: 10px; 
    -webkit-transition: all 0.3s linear;
       -moz-transition: all 0.3s linear;
        -ms-transition: all 0.3s linear;
         -o-transition: all 0.3s linear;
            transition: all 0.3s linear;
}
.top-nav li.search a{ 
    padding-left: 20px;
}
.top-nav li a:hover{ color: #f01776; }
.top-nav li.search a:hover{ 
    padding-left: 20px;
}

.nav { 
    float: right; 
    width: 87.5%; 
    text-align: right; 
    overflow: hidden; 
    height: 64px;
    z-index: 5000;
}
.nav .menu > li{ 
    width: 14.28%;
    height: 65px; 
    display: inline-block; 
    text-align: center; 
    font-family: 'Gotham', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 400;
    float: left;
}
.nav .menu li a{
    line-height: 65px;
    font-size: 11px;
    display: inline-block;
    height: 100%;
    width: 100%;
    text-transform: uppercase;
    text-align: left;
    padding: 0 20px;
}
.nav .menu li a.s{
    background: url('img/arrow-down.png') 87% 50% no-repeat;
    -webkit-transition: all 0.3s ease-out;
       -moz-transition: all 0.3s ease-out;
        -ms-transition: all 0.3s ease-out;
         -o-transition: all 0.3s ease-out;
            transition: all 0.3s ease-out;
}
.nav .menu li a:hover{
    background-color: #fff;
    color: #fff;
}
.nav .menu li:hover a.s{
    background: url('img/arrow-up.png') 87% 50% no-repeat;
}
.nav .menu li .roll div:nth-child(2) a.s {
    background: url('img/arrow-up-white.png') 87% 50% no-repeat;
}
.nav .menu > li ul{
    pointer-events: none;
    min-width: 12.4%;
    background: #fff;
    position: absolute;
    margin: 0;
    padding: 0;
    top: 35px;
    z-index: 4000;
    overflow: hidden;
    cursor: auto;
    -moz-opacity: 0;
    -khtml-opacity: 0;
    -webkit-opacity: 0;
    opacity: 0;
    -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0);
    filter: alpha(opacity=0);
    -webkit-transition: opacity 10ms ease-out, top 500ms cubic-bezier(0.3, 0.48, 0, 0.84);
    -moz-transition: opacity 10ms ease-out, top 500ms cubic-bezier(0.3, 0.48, 0, 0.84);
    -ms-transition: opacity 10ms ease-out, top 500ms cubic-bezier(0.3, 0.48, 0, 0.84);
    -o-transition: opacity 10ms ease-out, top 500ms cubic-bezier(0.3, 0.48, 0, 0.84);
    transition: opacity 10ms ease-out, top 500ms cubic-bezier(0.3, 0.48, 0, 0.84);
}
.nav .menu > li:hover ul{
    pointer-events: all;
    top: 100px;
    -moz-opacity: 1;
    -khtml-opacity: 1;
    -webkit-opacity: 1;
    opacity: 1;
    -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=100);
    filter: alpha(opacity=100);
}
.nav .menu > li ul li{
    list-style: none;
    margin: 0;
    padding: 0;
    z-index: 1000;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}
.nav .menu > li ul li a{
    padding: 25px 20px;
    line-height: 16px;
    -webkit-transition: all 0.3s ease-out;
       -moz-transition: all 0.3s ease-out;
        -ms-transition: all 0.3s ease-out;
         -o-transition: all 0.3s ease-out;
            transition: all 0.3s ease-out;
}
.nav .menu > li ul li a:hover{
    color: #ffffff;
    background-color: #333;
}
.roll {
    margin: 0;
    border: 0;
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    border-left: 1px solid #ddd; 
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-user-select: none;
    perspective: 500px;
    -webkit-perspective: 500px;
    -moz-perspective: 500px;
    transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;
    cursor: pointer;
    z-index: 5000;
}

.roll div {
    position: absolute;
    text-align: center;
    width: 100%;
    height: 65px;
    pointer-events: none;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

.roll div:nth-child(1) {
    color: #373437;
    background-color: #ffffff;
    transform: translateZ(0px);
    -webkit-transform: translateZ(0px);
    -moz-transform: translateZ(0px);
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transform-origin: 50% 50% -25px;
    -webkit-transform-origin: 50% 50% -25px;
    -moz-transform-origin: 50% 50% -25px;
    height: 65px;
    overflow: hidden;
}

.roll div:nth-child(2) {
    color: #ffffff;
    background-color: #333;
    transform: rotateX(90deg);
    -webkit-transform: rotateX(90deg);
    -moz-transform: rotateX(90deg);
    transition: all 0.3s ease 0.05s;
    -webkit-transition: all 0.3s ease 0.05s;
    -moz-transition: all 0.3s ease 0.05s;
    transform-origin: 45% 45% -30px;
    -webkit-transform-origin: 45% 45% -30px;
    -moz-transform-origin: 60% 60% -30px;
    height: 65px;
    overflow: hidden;
}
.roll div:nth-child(2) a {
    color: #fff;
}

/*.roll div:nth-child(2) a.s {
    background-image: url('img/arrow-up.png');
    background-position: 87% 50%;
    background-repeat: no-repeat;
}*/

.roll:hover div:nth-child(1) {
    color: #000000;
    background-color: #808080;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transform: translateZ(-200px);
    -webkit-transform: translateZ(-200px);
    -moz-transform: translateZ(-200px);
    cursor: pointer;
}

.roll:hover div:nth-child(2) {
    color: #ffffff;
    transition: all 0.3s ease 0.05s;
    -webkit-transition: all 0.3s ease 0.05s;
    -moz-transition: all 0.3s ease 0.05s;
    transform: rotateX(0deg);
    -webkit-transform: rotateX(0deg);
    -moz-transform: rotateX(0deg);
    cursor: pointer;
}

/* sidebar */
.sidebar {
	
}
.notransition {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -o-transition: none !important;
  -ms-transition: none !important;
  transition: none !important;
}

/*------------------------------------*\
    PAGES
\*------------------------------------*/
h1, h2{
    font-size: 60px;
    font-family: 'Gotham', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 100;
    text-transform: uppercase;
    color: #fff;
    line-height: 60px;
    text-align: left;
    display: inline-block;
    margin-top: 35px;
    margin-bottom: 35px;
}
.title-border-top{
    width: 20px;
    height: 4px;
    margin-top: 90px;
    margin-left: 0;
    background-color: #fff;
}
.larger .title-border-top{
    margin-top: 60px;
}
.title-border-bottom{
    width: 20px;
    height: 4px;
    margin-left: 0;
    background-color: #ed2977;
}
#content{
    background-color: #fff;
    height: 100%;
    display: inline-block;
    margin: 0 auto; 
    width: 100%; 
    position: relative;
    float: left;
}
#content .project-container{
    display: inline-block;
    float: left;
    width: 100%;
    position: relative;
    z-index: 20;
    background: #fff;
}
#content ul{
    padding: 0;
}
#content .filter{
    height: 65px;
    width: 100%;
    background: #393839;
    overflow: hidden;
}
#content .filter .filter-type{
    line-height: 50px;
    width: 290px;
}
#content .filter .title{
    font-size: 12px;
    font-family: 'Gotham', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: normal;
    color: #fff;
    text-transform: uppercase;
    line-height: 63px;
    margin-left: 30px;
    margin-right: 30px;
    vertical-align: top;
}
#content .filter > div{ display: inline-block; }
#content .filter ul{
    display: inline-block;
    width: 180px;
    list-style: none;
    margin-top: 25px;
}
#content .filter li{
    float: left;
    line-height: 0;
    margin-right: 5px;
    margin-bottom: 17px;
}
#content .filter a{
    padding-top: 15px;
    font-size: 9px;
    font-family: 'Gotham', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    margin-right: 15px;
    color: #fff;
    display: inline-block;
    -webkit-transition: height 0.3s, opacity 0.3s, -webkit-transform 0.3s;
    -moz-transition: height 0.3s, opacity 0.3s, -moz-transform 0.3s;
    transition: height 0.3s, opacity 0.3s, transform 0.3s;
    -webkit-transform: translateY(-10px);
    -moz-transform: translateY(-10px);
    transform: translateY(-10px);
    height: 23px;
}
#content .filter a.selected, #content .filter a:hover{
    color: #f01776;
}
#content .filter-type{
    width: 255px;
    float: left;
}
#content .filter-category{
    overflow-y: hidden;
    line-height: 12px;
}
#content .filter-category .more{
    float: right;
    width: 105px;
    height: 30px;
    background-color: #fff;
    background-image: url('img/more-btn.png');
    background-repeat: no-repeat;
    background-position: 80px 49%;
    text-transform: uppercase;
    margin: 16px 35px 0 0;
}
#content .filter-category .more a{
    color: #393839;
    display: inline-block;
    width: 100%;
    height: 100%;
    padding: 20px 23px;
    -webkit-transition: all 0.3s ease-out;
       -moz-transition: all 0.3s ease-out;
        -ms-transition: all 0.3s ease-out;
         -o-transition: all 0.3s ease-out;
            transition: all 0.3s ease-out;
}
#content .filter-category .more a:hover{
    color: #f01776; 
}
.project-container ul {
    padding: 0;
    margin: 0;
}
.project-container li {
    height: 0;
    position: relative;
    overflow: hidden;
    list-style: none;
    float: left;
    padding: 0;
    -webkit-perspective: 500px;
    -moz-perspective: 500px;
}
.project-container li.transition {
    -webkit-transition: all 6s ease-in-out;
       -moz-transition: all 6s ease-in-out;
        -ms-transition: all 6s ease-in-out;
         -o-transition: all 6s ease-in-out;
            transition: all 6s ease-in-out;
}
.project-container li a {
    display: inline-block;
    vertical-align: top;
    text-decoration: none;
}
.project-container li a > div{
    width: 100%; 
    height: 100%; 
    background-position: 50% 40%;
    background-repeat: no-repeat;
}
.project-container li a > div.video{
    background-image: url('img/play-btn.png');
}
.project-container li a > div > div{
    text-align: left;
    height: 90px;
    line-height: 19px;
    padding: 30px 40px;
    position: absolute;
    bottom: 0;
    padding-bottom: 5px;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.8);
    z-index: 500;
    pointer-events: none;
}
.project-container li h3, .project-container li span{
    padding: 0;
    margin: 0;
    line-height: 12px;
}
.project-container li h3{
    font-family: 'Gotham', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    color: #373437;
    font-size: 11px;
    -webkit-transition: all 0.3s linear;
       -moz-transition: all 0.3s linear;
        -ms-transition: all 0.3s linear;
         -o-transition: all 0.3s linear;
            transition: all 0.3s linear;
}
.project-container li span{
    font-family: 'Gotham', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight:200;
    font-style:normal;
    font-size: 11px;
    color: #000000;
}
.project-container li .normal {
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
}
.project-container li .background {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    pointer-events: none;
    background-color: rgba(240, 23, 118, 0.8);
    -webkit-transform: rotate3d(1, 0, 0, 90deg);
    transform: rotate3d(1, 0, 0, 90deg);
    -ms-transform: rotate3d(1, 0, 0, 90deg);
    -moz-transform: rotate3d(1, 0, 0, 90deg);
}

.in-top .background {
    -webkit-transform-origin: 50% 0%;
    -webkit-animation: in-top 200ms ease 0ms 1 forwards;
    -moz-transform-origin: 50% 0%;
    -moz-animation: in-top 200ms ease 0ms 1 forwards; 
}

.in-right .background {
    -webkit-transform-origin: 100% 0%;
    -webkit-animation: in-right 200ms ease 0ms 1 forwards;
    -moz-transform-origin: 100% 0%;
    -moz-animation: in-right 200ms ease 0ms 1 forwards; 
}

.in-bottom .background {
    -webkit-transform-origin: 50% 100%;
    -webkit-animation: in-bottom 200ms ease 0ms 1 forwards;
    -moz-transform-origin: 50% 100%;
    -moz-animation: in-bottom 200ms ease 0ms 1 forwards; 
}

.in-left .background {
    -webkit-transform-origin: 0% 0%;
    -webkit-animation: in-left 200ms ease 0ms 1 forwards;
    -moz-transform-origin: 0% 0%;
    -moz-animation: in-left 200ms ease 0ms 1 forwards; 
}

.out-top .background {
    -webkit-transform-origin: 50% 0%;
    -webkit-animation: out-top 200ms ease 0ms 1 forwards;
    -moz-transform-origin: 50% 0%;
    -moz-animation: out-top 200ms ease 0ms 1 forwards; 
}

.out-right .background {
    -webkit-transform-origin: 100% 50%;
    -webkit-animation: out-right 200ms ease 0ms 1 forwards;
    -moz-transform-origin: 100% 50%;
    -moz-animation: out-right 200ms ease 0ms 1 forwards; 
}

.out-bottom .background {
    -webkit-transform-origin: 50% 100%;
    -webkit-animation: out-bottom 200ms ease 0ms 1 forwards;
    -moz-transform-origin: 50% 100%;
    -moz-animation: out-bottom 200ms ease 0ms 1 forwards; 
}

.out-left .background {
    -webkit-transform-origin: 0% 0%;
    -webkit-animation: out-left 200ms ease 0ms 1 forwards;
    -moz-transform-origin: 0% 0%;
    -moz-animation: out-left 200ms ease 0ms 1 forwards; 
}

@-webkit-keyframes in-top {
    from {
        -webkit-transform: rotate3d(-1, 0, 0, 90deg);
    }
    to {
        -webkit-transform: rotate3d(0, 0, 0, 0deg);
    }
}

@-webkit-keyframes in-right {
    from {
        -webkit-transform: rotate3d(0, -1, 0, 90deg);
    }
    to {
        -webkit-transform: rotate3d(0, 0, 0, 0deg);
    }
}

@-webkit-keyframes in-bottom {
    from {
        -webkit-transform: rotate3d(1, 0, 0, 90deg);
    }
    to {
      -webkit-transform: rotate3d(0, 0, 0, 0deg);
    }
}

@-webkit-keyframes in-left {
    from {
      -webkit-transform: rotate3d(0, 1, 0, 90deg);
    }
    to {
        -webkit-transform: rotate3d(0, 0, 0, 0deg);
    }
}

@-webkit-keyframes out-top {
    from {
        -webkit-transform: rotate3d(0, 0, 0, 0deg);
    }
    to {
        -webkit-transform: rotate3d(-1, 0, 0, 130deg);
    }
}

@-webkit-keyframes out-right {
    from {
        -webkit-transform: rotate3d(0, 0, 0, 0deg);
    }
    to {
        -webkit-transform: rotate3d(0, -1, 0, 130deg);
    }
}

@-webkit-keyframes out-bottom {
    from {
      -webkit-transform: rotate3d(0, 0, 0, 0deg);
    }
    to {
      -webkit-transform: rotate3d(1, 0, 0, 130deg);
    }
}

@-webkit-keyframes out-left {
    from {
      -webkit-transform: rotate3d(0, 0, 0, 0deg);
    }
    to {
      -webkit-transform: rotate3d(0, 1, 0, 130deg);
    }
}
@-moz-keyframes in-top {
  from {-moz-transform: rotate3d(-1, 0, 0, 90deg);}
  to   {-moz-transform: rotate3d(0, 0, 0, 0deg);}}
@-moz-keyframes in-right {
  from {-moz-transform: rotate3d(0, -1, 0, 90deg);}
  to   {-moz-transform: rotate3d(0, 0, 0, 0deg);}}
@-moz-keyframes in-bottom {
  from {-moz-transform: rotate3d(1, 0, 0, 90deg);}
  to   {-moz-transform: rotate3d(0, 0, 0, 0deg);}}
@-moz-keyframes in-left {
  from {-moz-transform: rotate3d(0, 1, 0, 90deg);}
  to   {-moz-transform: rotate3d(0, 0, 0, 0deg);}}

@-moz-keyframes out-top {
  from {-moz-transform: rotate3d(0, 0, 0, 0deg);}
  to   {-moz-transform: rotate3d(-1, 0, 0, 130deg);}}
@-moz-keyframes out-right {
  from {-moz-transform: rotate3d(0, 0, 0, 0deg);}
  to   {-moz-transform: rotate3d(0, -1, 0, 130deg);}}
@-moz-keyframes out-bottom {
  from {-moz-transform: rotate3d(0, 0, 0, 0deg);}
  to   {-moz-transform: rotate3d(1, 0, 0, 130deg);}}
@-moz-keyframes out-left {
  from {-moz-transform: rotate3d(0, 0, 0, 0deg);}
  to   {-moz-transform: rotate3d(0, 1, 0, 130deg);}}
.banner{
    height: 430px;
}
.banner > div{
    width: 100%;
    display: inline-block;
    height: 100%;
    background-image: url('img/banner-line.png');
    background-repeat: no-repeat;
    background-position: 50% 0;
}

/*------------------------------------*\
    PROJECT PAGE
\*------------------------------------*/
#project-page{
    margin: 0;
    padding: 0;
    display: inline-block;
    width: 100%;
    background-image: url('img/project-pattern.jpg');
    background-repeat: repeat;
    overflow-x: hidden;
    float: left;
    min-height: 700px;
}
#project-page > div{
    display: inline-block;
    background: url('img/diagonal-line-light-1440.png') 0 0 no-repeat; 
    float: left;
}
#project-page .sticky{ 
    float: left;
    position: absolute; 
    min-height: 700px; 
    width: 565px;
    -webkit-transition: all 0.7s ease-out;
       -moz-transition: all 0.7s ease-out;
        -ms-transition: all 0.7s ease-out;
         -o-transition: all 0.7s ease-out;
            transition: all 0.7s ease-out;
}
#project-page .infos{
    display: inline-block;
    width: 656px;
    float: left;
}
#project-page .title-border-top{
    width: 20px;
    height: 4px;
    margin-top: 80px;
    margin-left: 70px;
    background-color: #fff;
}
#project-page .title-border-bottom{
    width: 20px;
    height: 4px;
    margin-left: 70px;
    margin-top: 80px;
    background-color: #ed2977;
}
#project-page h1{
    color: #fff;
    margin-top: 40px;
    margin-bottom: 80px;
    margin-left: 70px;
    font-family: 'Gotham', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 35px;
    font-weight: 400;
    width: 400px;
    line-height: 37px;
}
#project-page .details{
    margin-left: 70px;
    color: #f01776; 
    font-size: 11px; 
    font-family: 'Gotham', 'Helvetica Neue', Helvetica, Arial, sans-serif; 
    font-weight: 400;
    text-transform: uppercase;
    line-height: 18px;
}
#project-page .details a{
    color: #f01776;
}
#project-page .photographer, #project-page .artistic-director{ color:#fff; }
#project-page .details span{ 
    color: #fff;
    font-family: 'Gotham', 'Helvetica Neue', Helvetica, Arial, sans-serif; 
    font-weight: 100;
    font-size: 12px;
}
#project-page .description h2{
    font-size: 10px;
    line-height: 12px;
    margin: 5px 0;
}
#project-page .description a{
    color: #fff;
}
#project-page .description{
    font-size: 10px;
    margin-left: 70px;
    color: #fff;
    margin-top: 20px;
    width: 400px;
}
#project-page .puces{
    margin-left: 70px;
    margin-top: 40px;
}
#project-page .puce{
    display: inline-block;
    background: #fff;
    width: 13px;
    height: 13px;
    margin-bottom: 9px;
    -moz-border-radius: 13px;
    -webkit-border-radius: 13px;
    border-radius: 13px;
    opacity: 0.7;
    -webkit-transition: all 0.2s ease-in-out;
       -moz-transition: all 0.2s ease-in-out;
        -ms-transition: all 0.2s ease-in-out;
         -o-transition: all 0.2s ease-in-out;
            transition: all 0.2s ease-in-out;
}
#project-page .puce.selected{
    background: #f01776;
    opacity: 1;
}
#project-page .content{
    float: left;
    margin-bottom: 15px;
    margin-left: 565px;
    min-height: 700px;
}
#project-page .project-photo, #project-page .project-video{
    margin: 15px 15px 0 0;
    float: left;
    position: relative;
}
#project-page .other-projects{
    display: inline-block;
    width: 100%;
    background: #333333;
    float: left;
    opacity: 0;
}
#project-page .other-projects .left{
    width: 385px;
    float: left;
    padding-left: 70px;
}
#project-page .other-projects .left > div{
    margin-left: 70px;
    width: 250px;
    height: 300px;
    color: #fff;
    font-family: 'Gotham', 'Helvetica Neue', Helvetica, Arial, sans-serif; 
    font-weight: 100;
    font-size: 35px;
    text-transform: uppercase;
    line-height: 35px;
    display:table-cell; 
    vertical-align:middle;
}
#project-page .other-projects .more{
    background: #f6f6f6;
    width: 0;
    float: left;
    -webkit-transition: all 0.3s ease-in-out;
       -moz-transition: all 0.3s ease-in-out;
        -ms-transition: all 0.3s ease-in-out;
         -o-transition: all 0.3s ease-in-out;
            transition: all 0.3s ease-in-out;
}
#project-page .other-projects .more .project{
    float: left;
    height: 300px;
    width: 0;
    float: left;
    -webkit-transition: all 0.3s ease-in-out;
       -moz-transition: all 0.3s ease-in-out;
        -ms-transition: all 0.3s ease-in-out;
         -o-transition: all 0.3s ease-in-out;
            transition: all 0.3s ease-in-out;
}
#project-page .other-projects .project-container li a > div > div {
    height: 55px;
    padding: 24px 40px;
}
#project-page .other-projects .more .citation-box{
    background: url('img/bulles.svg') center center no-repeat;
    padding-left: 50px;
}
#project-page .other-projects .more .citation-box .citation{
    font-size: 20px;
    font-family: 'Gotham', 'Helvetica Neue', Helvetica, Arial, sans-serif; 
    font-style: italic;
    font-weight:200;
    color: #3a373a;
    display:table-cell; 
    vertical-align:middle;
    
}
#project-page .other-projects .more .citation-box .citation span{ 
    font-size: 12px; 
    font-style: normal; 
}
.tools{ 
    position: absolute;
    z-index: 400;
    height: 220px;
    width: 40px;
    right: 65px;
    display: block;
    opacity: 0;
}
.tools .bookmark{
    display: inline-block;
    width: 116px;
    height: 33px;
    line-height: 35px;
    margin-top: 42px;
    padding-left: 15px;
    background: url('img/bookmark-white.png') left top no-repeat;
    text-transform: uppercase;
    color: #f01776;
    font-family: 'Gotham', 'Helvetica Neue', Helvetica, Arial, sans-serif; 
    font-weight: 400;
    font-size: 10px;
    -webkit-transform:rotate(90deg);
    -moz-transform:rotate(90deg);
    -o-transform: rotate(90deg);
    writing-mode:tb-rl;
    white-space:nowrap;
    cursor: pointer;
    -webkit-transition: all 0.3s ease-in-out;
       -moz-transition: all 0.3s ease-in-out;
        -ms-transition: all 0.3s ease-in-out;
         -o-transition: all 0.3s ease-in-out;
            transition: all 0.3s ease-in-out;
}
.tools .bookmark:hover, .tools .bookmark.bookmarked{
    color: #fff;
    background: url('img/bookmark-pink.png') left top no-repeat;
}
.tools .facebook{
    display: inline-block;
    background: url('img/icon-fb.png') center center no-repeat; 
    background-size: 42px;
    width: 40px;
    height: 40px;
    -moz-border-radius: 40px;
    -webkit-border-radius: 40px;
    border-radius: 40px;
    margin-left: 39px;
    margin-top: 50px;
    cursor: pointer;
    -webkit-transition: all 0.3s ease-in-out;
       -moz-transition: all 0.3s ease-in-out;
        -ms-transition: all 0.3s ease-in-out;
         -o-transition: all 0.3s ease-in-out;
            transition: all 0.3s ease-in-out;
}
.tools .twitter{
    display: inline-block;
    background: url('img/icon-twitter.png') center center no-repeat; 
    background-size: 42px;
    width: 40px;
    height: 40px;
    -moz-border-radius: 40px;
    -webkit-border-radius: 40px;
    border-radius: 40px;
    margin-left: 39px;
    margin-top: 4px;
    cursor: pointer;
    -webkit-transition: all 0.3s ease-in-out;
       -moz-transition: all 0.3s ease-in-out;
        -ms-transition: all 0.3s ease-in-out;
         -o-transition: all 0.3s ease-in-out;
            transition: all 0.3s ease-in-out;
}
.tools .pinterest{
    display: inline-block;
    background: url('img/icon-pin.png') center center no-repeat; 
    background-size: 42px;
    width: 40px;
    height: 40px;
    -moz-border-radius: 40px;
    -webkit-border-radius: 40px;
    border-radius: 40px;
    margin-left: 39px;
    margin-top: 4px;
    cursor: pointer;
    -webkit-transition: all 0.3s ease-in-out;
       -moz-transition: all 0.3s ease-in-out;
        -ms-transition: all 0.3s ease-in-out;
         -o-transition: all 0.3s ease-in-out;
            transition: all 0.3s ease-in-out;
}
.tools .facebook:hover{
    background: url('img/icon-fb-color.png') center center no-repeat;
}
.tools .twitter:hover{
    background: url('img/icon-twitter-color.png') center center no-repeat; 
}
.tools .pinterest:hover{
    background: url('img/icon-pin-color.png') center center no-repeat; 
}

/*------------------------------------*\
    COMPANY PAGE
\*------------------------------------*/
#company-page{
    float: left;
    width: 100%;
}
#company-page .banner{
    text-align: center;
    margin: 0;
    padding: 0;
    display: inline-block;
    width: 100%;
    overflow-x: hidden;
    background: url('img/culture.jpg') 50% 100px repeat fixed;
    background-size: auto 430px;
}
#company-page article{
    background: url('img/content-pattern.png') left top repeat;
    width: 100%;
    margin: 0;
    padding: 0;
    display: inline-block;
    padding-bottom: 80px;
    float: left;
}
#company-page article .title-border-bottom{
    margin-top: 160px;
}
#company-page .content{
    width: 450px;
    display: inline-block;
    float: left;
    margin: 40px 0 0 200px;
    font-size: 14px;
    font-family: 'Gotham', 'Helvetica Neue', Helvetica, Arial, sans-serif; 
    font-weight: 200;
    line-height: 20px;
    color: #3a373a;
}
#company-page .fancy-logo{
    background: url('img/logo-fancy.svg') center top no-repeat;
    background-size: 60%;
    width: 50%;
    display: inline-block;
    float: right;
    -webkit-transition: all 0.3s ease-in-out;
       -moz-transition: all 0.3s ease-in-out;
        -ms-transition: all 0.3s ease-in-out;
         -o-transition: all 0.3s ease-in-out;
            transition: all 0.3s ease-in-out;
}
#company-page .clients{
    background: #373437;
}
#company-page .clients .banner{
    background: url('img/clients.jpg') 50% 0 repeat;
}
#company-page .clients .list{ display: inline-block; float: left; margin: 0; padding: 0; background: #373437; }
#company-page .clients .list > div{ margin: 0; float: left; background: #373437; }
#company-page .clients .client{
    background-repeat: no-repeat;
    background-size: 40%;
    background-position: center center;
    display: inline-block;
    float: left;
    border-bottom: 1px solid #4b494b;
    border-right: 1px solid #4b494b;
    -webkit-transition: all 0.3s ease-in-out;
       -moz-transition: all 0.3s ease-in-out;
        -ms-transition: all 0.3s ease-in-out;
         -o-transition: all 0.3s ease-in-out;
            transition: all 0.3s ease-in-out;
}
#company-page .clients .client:hover{
    background-color: #f01776;
}
#company-page .clients .client a{
    width: 100%;
    height: 100%;
    display: inline-block;
}
#company-page .clients .list > div:nth-child(6n+6) .client{
    border-right: none;
}

/*------------------------------------*\
    TALENTS PAGE
\*------------------------------------*/
#talents-page{
    float: left;
    width: 100%;
}
#talents-page .banner{
    text-align: center;
    margin: 0;
    padding: 0;
    float: left;
    display: inline-block;
    width: 100%;
    overflow-x: hidden;
    background-size: auto 430px;
    background-position: 50% 0;
    background-repeat: repeat;
    height: 430px;
}
#talents-page .directors .banner{
    background-image: url('img/directors.jpg');
}
#talents-page .photographers .banner{
    background-image: url('img/photographers.jpg');
}
#talents-page .list{
    display: inline-block;
    float: left;
    width: 100%;
    background-color: #f6f6f6;
}
#talents-page .talent{
    width: 50%;
    height: 0;
    display: inline-block;
    float: left;
    background-position: 50% 50%;
    background-size: 100%;
    background-repeat: no-repeat;
    cursor: pointer;
/*    -webkit-transition: all 3s ease-out;
       -moz-transition: all 3s ease-out;
        -ms-transition: all 3s ease-out;
         -o-transition: all 3s ease-out;
            transition: all 3s ease-out;*/
}
/*#talents-page .talent:hover{
    background-size: 900px;
    background-position: 50% 50%;
}*/
#talents-page .talent a{
    width: 100%;
    height: 100%;
    display:table-cell;
    vertical-align: middle;
    pointer-events: none;
}
#talents-page .talent h3{
    text-align: center;
    font-size: 25px;
    color: #fff;
    font-family: 'Gotham', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    line-height: 25px;
    text-transform: uppercase;
}
#talents-page .talent h3.dark{
    color: #373437;
}
#talents-page .talent h3.light{
    color: #fff;
}
#talents-page .talent h3 .first-name{
    font-weight: 200
}
#talents-page .talent h3 .last-name{
    font-weight: bold;
}
#talents-page .talent.contact{
}
#talents-page .talent.contact a{
    background-image: url('img/line-talents.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    font-weight: 200;
    color: #3a373a;
    font-size: 20px;
    text-transform: uppercase;
    text-align: center;
}
#talents-page .talent.contact a span{
    color: #f01776;
    font-style: italic;
}
#talents-page .talent.contact a > div{
    display: inline-block;
    text-align: left;
}

/*------------------------------------*\
    ARTIST PAGE
\*------------------------------------*/
#talent-page{
    background-color: #373437;
    display: inline-block;
    float: left;
    width: 100%;
}
#talent-page .banner{
    background-repeat: no-repeat;
    background-position: 50% 0;
    height: 450px;
    text-align: center;
}
#talent-page .banner > div{
    height: 100%;
    width: 80%;
    display: inline-block;
    text-align: left;
    margin: 0 10%;
    background-position: 0 0;
}
#talent-page .box{
    width: 50%;
    height: auto;
    display: inline-block;
    float: left;
}
#talent-page .infos{
    background-color: #232223;
    background-position: 50% 50%;
    background-size: cover;
    text-align: center;
    margin: 0;
}
#talent-page .infos > div{
    display: table-cell;
    vertical-align: middle;
    background: url('img/diagonal-line.png') 0 50px no-repeat;
}
#talent-page h1{
    color: #fff;
    font-size: 70px;
    font-family: 'Gotham', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 100;
    margin: 50px auto;
}
#talent-page .project{
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
}
#talent-page .project a{
    display: inline-block;
    width: 100%;
    height: 100%;
}
#talent-page .project-container{
    float: left;
    width: 100%;
}
#talent-page .project-container li a > div > div{
    height: 70px;
    padding: 30px 40px;
}
#talent-page .biography{
    background-image: url('img/project-pattern.jpg');
    background-repeat: repeat;
    display: inline-block;
    width: 100%;
    margin: 0;
    padding: 150px 10%;
}
#talent-page .biography .title-border-bottom-content{
    width: 20px;
    height: 4px;
    margin-left: 0;
    background-color: #ed2977;
    margin-bottom: 45px;
}
#talent-page .biography h2{
    color: #fff;
    font-size: 35px;
    font-family: 'Gotham', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 100;
    width: 100%;
    margin: 0;
}
#talent-page .biography > div div.content, #talent-page .biography > div div.citation{
    font-family: 'Gotham', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 200;
    font-size: 12px;
    color: #fff;
    line-height: 20px;
    float: left;
    font-size: 14px;
}
#talent-page .biography > div div.content{
    margin-right: 20%;
    border-bottom: 1px solid #4b494b;
    padding-bottom: 30px;
}
#talent-page .biography > div div.citation{
    font-size: 20px;
    line-height: 30px;
    opacity: 0.3;
    padding: 60px 60px 0 0;
}
#talent-page .biography > div.left{
    width: 50%;
    float: left;
}
#talent-page .biography > div.right{
    color: #fff;
    width: 50%;
    float: right;
}
#talent-page .biography .website{
    width: 100%;
    margin-top: 25px;
    display: inline-block;
}
#talent-page .biography .website a{
    font-family: 'Gotham', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #f01776;
}
#talent-page .biography.box{
    background-color: #232223;
    width: 50%;
    margin: 0;
    padding-top: 40px;
}
#talent-page .biography.box > div.content{
    width: 80%;
}
#talent-page .project-container li.contact a{
    width: 100%;
    height: 100%;
    display:table-cell;
    vertical-align: middle;
}
#talent-page .box.contact a{
    background-image: url('img/line-talents.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    font-weight: 200;
    color: #3a373a;
    font-size: 20px;
    text-transform: uppercase;
    text-align: center;
}
#talent-page .box.contact a span{
    color: #f01776;
    font-style: italic;
    font-size: 20px;
}
#talent-page .project-container li.box.contact a > div{
    display: inline-block;
    text-align: left;
    height: auto;
    width: auto;
    padding: inherit;
    position: relative;
    background: none;
    line-height: inherit;
}

/*------------------------------------*\
    SERVICES PAGE
\*------------------------------------*/
#services-page, #services-page .production, #services-page .studio-rental{
    float: left;
    width: 100%;
}
#services-page .banner{
    text-align: center;
    margin: 0;
    padding: 0;
    float: left;
    display: inline-block;
    width: 100%;
    overflow-x: hidden;
    background-size: auto;
}
#services-page .production .banner{
    background-image: url('img/production.jpg');
    background-position: 50% 50%;
    background-repeat: repeat-y;
    background-attachment: scroll;
}
#services-page .studio-rental .title-border-top{
    margin-top: 110px;
}
#services-page .studio-rental .banner{
    background: url('img/studio-rental.jpg');
    background-position: 50% 50%;
    background-repeat: repeat-y;
    background-attachment: scroll;
}
#services-page article{
    float: left;
    display: inline-block;
    background: url('img/content-pattern.png') left top repeat;
    width: 100%;
}
#services-page article p{
    font-family: 'Gotham', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 200;
    font-size: 14px;
    line-height: 20px;
}
#services-page .button{
    margin-top: 60px;
    border-bottom: 1px solid #2e2d2e;
    background-image: url('img/icon-download.png');
    background-repeat: no-repeat;
    background-position: 92% 41%;
    display: inline-block;
    padding: 10px 45px 10px 25px
}
#services-page .button:hover{
    background-color: #f01776;
    color: #fff;
}
#services-page article .left{
    width: 50%;
    float: left;
    padding: 170px 90px 200px 190px;
}
#services-page article .left .title-border-bottom{
    margin-bottom: 45px;
}
#services-page article .left .title{
    font-weight: 400;
}
#services-page article .left .line{
    border: 1px solid #e3e3e3;
    width: 100%;
    margin: 50px 0;
}
#services-page article .left .requirements p{
    font-weight: 400;
    font-style: italic;
    font-size: 12px;
}
#services-page article .left .requirements ul{
    color: #f01776;
    font-weight: 400;
    list-style: none;
    margin: 0;
    padding: 0;
    line-height: 18px;
}
#services-page article .right{
    width: 50%;
    float: right;
    padding: 135px 0 0 40px;
}
#services-page article .right .title{
    font-family: 'Gotham', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 200;
    font-style: italic;
    font-size: 20px;
    margin-bottom: 40px;
}
#services-page article .right > div{
    display: inline-block;
    margin-bottom: 25px;
    width: 100%;
}
#services-page article .right ul{
    list-style: none;
    margin: 0;
    padding: 0 30px 0 0;
    width: 40%;
    float: left;
}
#services-page article .right li{
    font-family: 'Gotham', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 200;
    font-style: italic;
    font-size: 12px;
}
#services-page article .right li:first-child{
    font-weight: 400;
    font-style: italic;
}
#services-page article .citation{
    background-image: url('img/bulles.svg');
    background-size: 35%;
    background-position: 130px center;
    background-repeat: no-repeat;
    margin: 200px 0;
    min-height: 180px;
}
#services-page article .right.citation{
    padding-top: 60px;
}
#services-page article .citation p{
    width: 390px;
    margin: 0;
    font-size: 20px;
    line-height: 25px;
}
#services-page article .citation .author{
    margin-top: 40px;
    font-size: 12px;
}
#services-page .studios{
    float: left;
    width: 100%;
    background-color: #f6f6f6;
}
#services-page .studios > div{
    float: left;
    width: 50%;
    display: inline-block;
}
#services-page .studios .info{
    background-size: auto;
    padding: 125px 180px 140px 200px;
    height: 570px;
    -webkit-transition: all 0.3s ease-in-out;
       -moz-transition: all 0.3s ease-in-out;
        -ms-transition: all 0.3s ease-in-out;
         -o-transition: all 0.3s ease-in-out;
            transition: all 0.3s ease-in-out;
}
#services-page .studios .info .title{
    font-weight: 100;
    font-size: 60px;
    color: #3a373a;
    text-transform: uppercase;
    margin-top: 50px;
}
#services-page .studios .info .title span{
    font-weight: 400;
}
#services-page .studios .info .content{
    font-weight: 200;
    font-style: normal;
    font-size: 12px;
    line-height: 18px;
    margin-top: 60px;
}
#services-page .studios .photos > div{
    float: left;
    background-size: cover;
    background-repeat: no-repeat;
}
#services-page .studios .photos .empty{
    background-image: url('img/empty.svg');
    background-repeat: no-repeat;
    background-size: 35%;
    background-position: 50% 50%;
}
/*------------------------------------*\
    BLOG
\*------------------------------------*/
.posts{
    float: left;
    display: inline-block;
    background: url('img/content-pattern.png') left top repeat;
    width: 100%;
    padding-bottom: 20px;
}
.posts .post{
    background: #fff;
    border-bottom: 2px solid #c5c5c5;
    margin: 15px 0 0 1%;
    width: 32%;
    float: left;
    overflow: hidden;
}
.posts .post:hover{
    background: #f01776;
    -webkit-transition: all 0.3s ease-in-out;
       -moz-transition: all 0.3s ease-in-out;
        -ms-transition: all 0.3s ease-in-out;
         -o-transition: all 0.3s ease-in-out;
            transition: all 0.3s ease-in-out;
}
.posts .post a{
    display: inline-block;
}
.posts .post h2{
    font-size: 35px;
    font-weight: 100;
    text-transform: uppercase;
    line-height: 30px;
    padding: 20px;
    margin: 0;
}
.posts .post .date{
    font-size: 14px;
    font-weight: 200;
    margin: 35px 0 0 20px;
}
.posts .post .title-border-bottom{
    margin-left: 20px;
    margin-bottom: 25px;
}
.posts .post .button{
    margin-left: 20px;
    margin-bottom: 20px;
    background-image: url('img/icon-btn-post.png');
    background-repeat: no-repeat;
    background-position: 92% 42%;
    padding-right: 35px;
}

/*------------------------------------*\
    SINGLE POST
\*------------------------------------*/
section.single-post{
    background-image: url('img/content-pattern.png');
    background-repeat: repeat;
    display: inline-block;
    float: left;
    width: 100%;
    height: 100%;
}
section.single-post > div{
    background-image: url('img/diagonal-line-big.png');
    background-repeat: no-repeat;
    background-position: 350px 0;
    display: inline-block;
    float: left;
    width: 100%;
    height: 100%;
}
.single-post article{
    padding: 50px 65px;
    width: 825px;
    margin: 0 auto;
    font-size: 12px;
    font-style: italic;
    font-weight: 200;
    line-height: 16px;
}
.single-post .date{
    margin-top: 50px;
    display: inline-block;
    width: 100%;
    font-size: 14px;
    font-weight: 200;
    font-style: normal;
}
.single-post h1{
    font-size: 35px;
    font-weight: 100;
    line-height: 32px;
    font-style: normal;
}
.single-post .title-border-bottom{
    margin-bottom: 35px;
}
.single-post .back{
    padding-right: 45px;
    background-image: url('img/icon-back.png');
    background-repeat: no-repeat;
    background-position: 87% 50%;
    font-style: normal;
}
.single-post .back:hover{
    background-color: #f01776;
    color: #fff;
    border-bottom-color: #cccccc;
}

/*------------------------------------*\
    ECOM PHOTO PAGE
\*------------------------------------*/
#ecom-page{
    float: left;
    width: 100%;
}
#ecom-page .banner{
    background: url('img/ecom.jpg') 50% 0 repeat;
    text-align: center;
    margin: 0;
    float: left;
    display: inline-block;
    width: 100%;
    overflow-x: hidden;
    background-size: auto;
}

#ecom-page .service{
    width: 50%;
    display: inline-block;
    float: left;
    background-repeat: no-repeat;
    background-origin: 50% 50%;
    background-size: auto;
    color: #fff;
    padding: 135px 10%;
    min-height: 665px;
}
#ecom-page .service h2{
    font-size: 50px;
    font-weight: 100;
    color: #fff;
    text-transform: uppercase;
    line-height: 45px;
    margin-top: 45px;
}
#ecom-page .service .description{
    border-top: 1px solid #404040;
    padding-top: 35px;
    font-size: 20px;
    font-weight: 200;
    font-style: italic;
    line-height: 22px;
}

#ecom-page .service h2 span{
    font-weight: 400;
}
#ecom-page .sales{
    background-image: url('img/service-1.jpg');
}
#ecom-page .quality{
    background-image: url('img/service-2.jpg');
}
#ecom-page .quantity{
    background-image: url('img/service-3.jpg');
}
#ecom-page .cost{
    background-image: url('img/service-4.jpg');
}
#ecom-page .process{
    height: 575px;
    width: 100%;
    background: #f7f7f7;
    float: left;
    padding: 95px 0;
    border-bottom: 1px solid #d9d8d7;
    text-align: center;
}
#ecom-page .process > div{
    width: 1024px;
    margin: 0 auto;
    display: inline-block;
} 
#ecom-page .process h2{
    font-weight: 200;
    font-size: 40px;
    color: #3a373a;
    float: left;
    width: 100%;
}
#ecom-page .process .line{
    width: 920px;
    height: 1px;
    background: #a8a8a8;
    position: absolute;
    margin-top: 230px;
    margin-left: 30px;
}
#ecom-page .process .step{
    float: left;
    margin-right: 7%;
    width: 80px;
}
#ecom-page .process .step:last-child{
    margin-right: 0;
}
#ecom-page .process .image{
    width: 80px;
    height: 80px;
    background-size: 60%;
    background-position: 50% 50%;
    background-repeat: no-repeat;
}
#ecom-page .process .clock .image{
    background-image: url('img/ecom/clock.svg');
}
#ecom-page .process .truck .image{
    background-image: url('img/ecom/truck.svg');
}
#ecom-page .process .box .image{
    background-image: url('img/ecom/box.svg');
}
#ecom-page .process .photo .image{
    background-image: url('img/ecom/photo.svg');
}
#ecom-page .process .truck2 .image{
    background-image: url('img/ecom/truck.svg');
}
#ecom-page .process .computer .image{
    background-image: url('img/ecom/computer.svg');
}
#ecom-page .process .download .image{
    background-image: url('img/ecom/download.svg');
}
#ecom-page .process .bullet{
    background-image: url('img/bullet.png');
    position: absolute;
    width: 20px;
    height: 20px;
    background-size: 100%;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    margin-left: 30px;
    margin-top: 10px;
}
#ecom-page .process .text{
    font-size: 12px;
    font-style: italic;
    font-weight: 400;
    color: #3a373a;
    margin-top: 50px;
    line-height: 16px;
    text-align: center;
}
#ecom-page .works{
    width: 100%;
    float: left;
    padding: 95px 0 0;
    text-align: center;
}
#ecom-page .works > div{
    width: 1024px;
    margin: 0 auto;
    display: inline-block;
    text-align: left;
} 
#ecom-page .works h2{
    font-size: 40px;
    font-weight: 200;
    color: #3a373a;
}
#ecom-page .workslist > div{
    width: 100%;
    height: 500px;
    background-repeat: repeat-x;
    background-size: auto;
    background-position: 50% bottom;
    display: inline-block;
    border-bottom: 1px solid #dfdfde;
    float: left;
}
#ecom-page .quote{
    width: 100%;
    float: left;
    padding: 95px 10%;
    background-image: url('img/pattern-ecom.jpg');
    background-repeat: repeat;
}
#ecom-page .quote > div{
    width: 1024px;
    margin: 0 auto;
    display: block;
} 
#ecom-page .quote h2{
    font-size: 40px;
    font-weight: 200;
    color: #3a373a;
    float: left;
}
#ecom-page .quote .citation{
    font-size: 20px;
    font-style: italic;
    font-weight: 200;
    color: #3a373a;
    width: 485px;
    float: right;
    margin-top: 30px;
    line-height: 24px;
}
#ecom-page .quote .citation p{
    margin-bottom: 30px;
}
#ecom-page .quote .citation span{
    font-size: 12px;
}
#ecom-page .quote form{
    width: 100%;
    display: inline-block;
    margin-top: 100px;
    font-weight: 400;
    font-size: 12px;
}
#ecom-page .quote form .col{
    float: left;
    width: 500px;
}
#ecom-page .quote form .col.right{
    float: right;
    width: 500px;
}
#ecom-page .quote .newsletter{
    width: 100%;
    display: inline-block;
    margin-top: 20px;
    margin-bottom: 25px;
    height: 26px;
    line-height: 25px;
}
#ecom-page .quote .required{
    font-weight: 200;
}
#ecom-page .quote .input-btn{
    width: 100%;
    display: inline-block;
    text-align: center;
}
#ecom-page .quote .input-btn button{
    width: 265px;
    height: 85px;
    background-color: #f01776;
    font-size: 14px;
    color: #fff;
    text-transform: uppercase;
    background-image: url('img/icon-send.png');
    background-repeat: no-repeat;
    background-position: 60% 45%;
    padding-right: 40px;
    border-bottom: 5px solid #e4e4e4;
}

/*------------------------------------*\
    CONTACT PAGE
\*------------------------------------*/
#contact-page{
    float: left;
    width: 100%;
}
#contact-page .banner{
    background: url('img/contact.jpg') 50% 0 repeat;
    text-align: center;
    margin: 0;
    padding: 0 0 0 200px;
    float: left;
    display: inline-block;
    width: 100%;
    overflow-x: hidden;
    background-size: auto;
    height: 625px;
}
#contact-page .banner .title-border-bottom{
    margin-top: 7%;
}
#contact-page .banner > div{
    width: 100%;
    display: inline-block;
    height: 100%;
    background-image: none;
}
#contact-page .banner .address{
    font-weight: 100;
    font-size: 40px;
    color: #fff;
    text-transform: uppercase;
    text-align: left;
    display: inline-block;
    width: 100%;
    margin-top: 50px;
    margin-bottom: 30px;
}
#contact-page .banner .button{
    border-bottom: none;
    float: left;
}
#contact-page .banner .map{
    padding-right: 40px;
    background-image: url('img/icon-map.png');
    background-position: 80% 40%;
    background-repeat: no-repeat;
}
#contact-page .banner .map:hover{
    background-image: url('img/icon-map-hover.png');
}
#contact-page .banner .tel{
    font-size: 20px;
    color: #fff;
    text-align: left;
    text-transform: uppercase;
    float: left;
    width: 100%;
    margin-top: 45px;
    line-height: 25px;
}
#contact-page .banner .email{
    color: #f01776;
}
#contact-page article{
    background: #393839;
    padding: 30px 200px;
    display: inline-block;
    width: 100%;
}
#contact-page article textarea{
    background: #393839;
    border: none;
    outline: none;
    resize: none;
    width: 100%;
    height: 300px;
    font-family: 'Gotham', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 100;
    font-style: italic;
    font-size: 40px;
    color: #fff;
}
#contact-page article input[type="text"]{
    width: 330px;
    height: 45px;
    outline: none;
    padding: 0 15px;
    font-size: 12px;
    font-weight: 400;
    color: #393839;
    margin-right: 20px;
    border: 1px solid #393839;
    -webkit-transition: all 0.3s ease-in-out;
       -moz-transition: all 0.3s ease-in-out;
        -ms-transition: all 0.3s ease-in-out;
         -o-transition: all 0.3s ease-in-out;
            transition: all 0.3s ease-in-out;
}
#contact-page article input[type="text"]:focus, #contact-page article input[type="text"]:hover{
    border: 1px solid #f01776;
}
#contact-page article button{
    background-color: #f01776;
    border-bottom: 1px solid #2e2d2e;
    color: #fff;
    font-size: 14px;
    font-weight: 400;
    height: 45px;
    padding: 0 50px 0 20px;
    background-image: url('img/icon-send.png');
    background-repeat: no-repeat;
    background-position: 75% 41%;
}
#contact-page article .title-border-bottom{
    margin: 100px 0 40px 0;
}
#contact-page article .write-us{
    font-size: 12px;
    font-weight: 400;
    text-transform: uppercase;
    color: #fff;
}
#contact-page article .start-typing{
    color: #fff;
    font-size: 12px;
    font-weight: 200;
    font-style: italic;
    margin-top: 5px;
    margin-bottom: 35px;
}

/*------------------------------------*\
    NEWSLETTER
\*------------------------------------*/
#newsletter-box{
    display: none;
}
.newsletter-content{
    padding: 70px 65px;
}
.newsletter-content .title{
    font-size: 35px;
    line-height: 32px;
    font-weight: 400;
    text-transform: uppercase;
    margin: 30px 0;
}
.newsletter-content .awesome{
    font-size: 14px;
    font-weight: 200;
    font-style: italic;
    margin-bottom: 40px;
}

/*------------------------------------*\
    SEARCH
\*------------------------------------*/
#search-box{
    background-color: #f6f6f6;
    background-image: url('img/diagonal-line-dark-1440.png');
    background-position: 280px 0;
    background-repeat: no-repeat;
    min-height: 400px;
    width: 100%;
    position: fixed;
    margin-top: 100px;
    z-index: 1000;
    padding: 60px 75px;
    display: none;
    opacity: 0.96;
}
.home #search-box{
    position: absolute;
    top: 100px;
}
#search-box .close-search{
    background-image: url('img/close.jpg');
    background-repeat: no-repeat;
    background-size: 35px 35px;
    width: 35px;
    height: 35px;
    position: absolute;
    top: 60px;
    right: 20px;
    cursor: pointer;
}
#search-box .search-for{
    font-weight: 400;
    font-size: 12px;
    text-transform: uppercase;
    color: #3a373a;
    margin-top: 25px;
}
#search-box .start-typing{
    font-weight: 200;
    font-size: 12px;
    color: #3a373a;
    font-style: italic;
    margin: 10px 0; 
}
#search-box input[type="text"]{
    background-color: transparent;
    border: none;
    color: #3a373a;
    font-weight: 400;
    font-size: 70px;
    text-transform: uppercase;
    margin-top: 45px;
    margin-bottom: 45px;
    height: 75px;
    padding: 0;
}
#search-box .type{
    display: inline-block;
    margin: 20px 0 0;
}
#search-box .type > div{
    float: left;
    font-weight: 400;
    font-size: 12px;
    text-transform: uppercase;
    color: #3a373a;
    margin-right: 15px;
}
#search-box .type label{
    cursor: pointer;
    display: inline-block;
    position: relative;
    outline: none;
    -webkit-transition: height 0.3s, opacity 0.3s, -webkit-transform 0.3s;
    -moz-transition: height 0.3s, opacity 0.3s, -moz-transform 0.3s;
    transition: height 0.3s, opacity 0.3s, transform 0.3s;
    -webkit-transform: translateY(-10px);
    -moz-transform: translateY(-10px);
    transform: translateY(-10px);
}
#search-box .type label:hover{
    color: #f01776;
}
#search-box .type label.selected{
    color: #f01776;
}
#search-result{
    display: none;
    opacity: 0.96;
    width: 100%;
    margin-top: 60px;
}
#search-result .project{
    width: 200px;
    height: 300px;
    float: left;
    margin-right: 10px;
    opacity: 1;
}
#search-result h2{
    float: left;
    width: 100%;
    font-weight: 200;
    color: #3a373a;
    font-size: 35px;
    margin-top: 20px;
}
#search-result .project > a{
    display: inline-block;
    width: 100%;
    height: 200px;
    background-size: auto 100%;
}
#search-result .project h3{
    margin-bottom: 5px;
    text-transform: uppercase;
}
#search-result .project h3 a{
    -webkit-transition: all 0.3s ease-in-out;
       -moz-transition: all 0.3s ease-in-out;
        -ms-transition: all 0.3s ease-in-out;
         -o-transition: all 0.3s ease-in-out;
            transition: all 0.3s ease-in-out;
}
#search-result .project:hover h3 a{
    color: #f01776;
}
#search-result .project span{
    font-style: italic;
}
#search-result .artist{
    width: 200px;
    float: left;
    margin-right: 10px;
}
#search-result .artist h3{
    font-weight: 400;
    font-size: 30px;
    text-transform: uppercase;
    display: inline-block;
    margin-bottom: 5px;
    margin-top: 0;
}
#search-result .artist h3 a{
    -webkit-transition: all 0.3s ease-in-out;
       -moz-transition: all 0.3s ease-in-out;
        -ms-transition: all 0.3s ease-in-out;
         -o-transition: all 0.3s ease-in-out;
            transition: all 0.3s ease-in-out;
}
#search-result .artist h3 a:hover{
    color: #f01776;
}
#search-result .artist span{
    font-style: italic;
}
#search-result p{
    font-size: 14px;
    font-style: italic;
}

/*------------------------------------*\
    BOOKMARK PAGE
\*------------------------------------*/
.bookmark .project .delete{
    position: absolute;
    right: 10px;
    margin-top: 10px;
    background-image: url('img/close.jpg');
    background-repeat: no-repeat;
    background-size: 35px;
    width: 35px;
    height: 35px;
    cursor: pointer;
}

/*------------------------------------*\
    MESSAGES
\*------------------------------------*/
#messages{
    width: 100%;
    padding: 3px 70px;
    text-align: center;
    background: #f01776;
    position: fixed;
    top: -100px;
    z-index: 4000;
}
#messages p{
    font-size: 11px;
    color: #fff;
    font-weight: 400;
    text-transform: uppercase;
}


/*------------------------------------*\
    FOOTER
\*------------------------------------*/
footer{
    display: inline-block;
    width: 100%;
    overflow: hidden;
    background-color: #f6f6f6;
    border-top: 1px solid #ddd; 
}
footer .title-border-bottom{
    margin: 150px 200px 20px;
}
footer .do-not-miss{
    padding: 0 200px 15px;
    font-size: 40px;
    font-weight: 200;
    color: #3a373a;
    text-transform: uppercase;
}
footer .join{
    font-size: 16px;
    font-style: italic;
    font-weight: 200;
    color: #3a373a;
    padding: 0 200px 75px;
}
footer .social{
    width: 100%;
    display: inline-block;
    float: left;
    margin-bottom: 35px;
    padding: 0 100px;
}
footer .social > div{
    width: 16.5%;
    height: 125px;
    display: inline-block;
    float: left;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}
footer .social > div a{
    display: inline-block;
    width: 100%;
    height: 100%;
}
footer .social > div:last-child{
    border-right: none;
}
footer .social > div{
    -webkit-transition: all 0.3s ease-in-out;
       -moz-transition: all 0.3s ease-in-out;
        -ms-transition: all 0.3s ease-in-out;
         -o-transition: all 0.3s ease-in-out;
            transition: all 0.3s ease-in-out;
}
footer .social .fb{
    background-image: url('img/social-icons/fb-55.png');
    background-size: 55px;
}
footer .social .fb:hover{
    background-image: url('img/social-icons/fb-55-c.png');
}
footer .social .twitter{
    background-image: url('img/social-icons/twitter-55.png');
    background-size: 55px;
}
footer .social .twitter:hover{
    background-image: url('img/social-icons/twitter-55-c.png');
}
footer .social .google{
    background-image: url('img/social-icons/google-55.png');
    background-size: 55px;
}
footer .social .google:hover{
    background-image: url('img/social-icons/google-55-c.png');
}
footer .social .be{
    background-image: url('img/social-icons/be-55.png');
    background-size: 81px 55px;
}
footer .social .pinterest:hover{
    background-image: url('img/social-icons/pin-55-c.png');
}
footer .social .pinterest{
    background-image: url('img/social-icons/pin-55.png');
    background-size: 55px;
}
footer .social .linkedin{
    background-image: url('img/social-icons/linkedin-55.png');
    background-size: 55px;
}
footer .social .linkedin:hover{
    background-image: url('img/social-icons/linkedin-55-c.png');
}
footer .footer-light{
    width: 100%;
    background-color: #f6f6f6;
    font-weight: 400;
    padding: 30px 0;
}
footer .footer-light .center{
    text-align: center;
}
footer .footer-light .email{
    color: #f01776;
    font-size: 12px;
}
footer .footer-light .tel{
    font-size: 12px;
}
footer .footer-light .copy{
    font-size: 10px;
    position: absolute;
    color: #373437;
    float: right;
    right: 0;
    margin-right: 20px;
    margin-top: -10px;
}

/*------------------------------------*\
    Form
\*------------------------------------*/
form .input{
    height: 45px;
    display: inline-block;
    margin-bottom: 15px;
    width: 500px;
}
form input[type="text"]{
    width: 100%;
    height: 45px;
    border: 1px solid #d2d2d2;
    padding: 0 20px;
    border-bottom: 5px solid #e1e1e1;
    color: #393839;
    font-size: 12px;
    font-weight: 400;
    -webkit-transition: all 0.3s ease-in-out;
       -moz-transition: all 0.3s ease-in-out;
        -ms-transition: all 0.3s ease-in-out;
         -o-transition: all 0.3s ease-in-out;
            transition: all 0.3s ease-in-out;
}
form input[type="text"]:focus, form input[type="text"]:hover{
    border: 1px solid #f01776;
}
select{
    position: relative;
    width: 100%;
    height: 45px;
    opacity: 0;
    filter: alpha(opacity=0);
    z-index: 5;
    cursor: pointer;
    -webkit-appearance: menulist-button;
}
input[type="checkbox"], input[type="radio"] { 
    display: none; 
}

input[type="checkbox"] + label { 
    padding-left: 30px !important; 
    background: url('img/checkoff.png') no-repeat left center;
    -webkit-transition: all 0.3s ease-out;
       -moz-transition: all 0.3s ease-out;
        -ms-transition: all 0.3s ease-out;
         -o-transition: all 0.3s ease-out;
            transition: all 0.3s ease-out;
}
input[type="checkbox"]:checked + label { 
    background: url('img/checkon.png') no-repeat left center; 
}

.submit button{
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
    padding: 15px 20px;
    background-color: #f01776;
    color: #fff;
    border-bottom: 5px solid #e4e4e4;
}

.form-radio + label { padding-left: 30px !important; background: url('../images/hatley/checkoff.png') no-repeat left center; display: block; }
.form-radio:checked + label { background: url('../images/hatley/checkon.png') no-repeat left center; }

/*------------------------------------*\
    Buttons
\*------------------------------------*/
button, .button{
    background-color: #f01776;
    color: #fff;
    font-family: 'Gotham', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 400;
    font-size: 10px;
    padding: 10px 20px;
    text-transform: uppercase;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 2px solid #cccccc;
    -webkit-transition: all 0.3s ease-out;
       -moz-transition: all 0.3s ease-out;
        -ms-transition: all 0.3s ease-out;
         -o-transition: all 0.3s ease-out;
            transition: all 0.3s ease-out;
}
button, .button:hover{
    background-color: #fff;
    color: #3a373a;
    border-bottom-color: #c0125e;
}

/*------------------------------------*\
    IMAGES
\*------------------------------------*/



/*------------------------------------*\
	TYPOGRAPHY
\*------------------------------------*/

@font-face {
    font-family:'Gotham';
    src:url('fonts/Gotham-Book.ttf') format('truetype');
    font-weight:normal;
    font-style:normal;
}
@font-face {
    font-family:'Gotham';
    src:url('fonts/Gotham-BookItalic.ttf') format('truetype');
    font-weight:normal;
    font-style:italic;
}
@font-face {
    font-family:'Gotham';
    src:url('fonts/Gotham-Light.ttf') format('truetype');
    font-weight:200;
    font-style:normal;
}
@font-face {
    font-family:'Gotham';
    src:url('fonts/Gotham-LightItalic.ttf') format('truetype');
    font-weight:200;
    font-style:italic;
}
@font-face {
    font-family:'Gotham';
    src:url('fonts/Gotham-Thin.ttf') format('truetype');
    font-weight:100;
    font-style:normal;
}
@font-face {
    font-family:'Gotham';
    src:url('fonts/Gotham-ThinItalic.ttf') format('truetype');
    font-weight:100;
    font-style:italic;
}
@font-face {
    font-family:'Gotham';
    src:url('fonts/Gotham-Bold.ttf') format('truetype');
    font-weight:bold;
    font-style:normal;
}
@font-face {
    font-family:'Gotham';
    src:url('fonts/Gotham-BoldItalic.ttf') format('truetype');
    font-weight:bold;
    font-style:italic;
}
@font-face {
    font-family:'Gotham';
    src:url('fonts/Gotham-Medium.ttf') format('truetype');
    font-weight:400;
    font-style:normal;
}

/*------------------------------------*\
    RESPONSIVE
\*------------------------------------*/

@media only screen and (min-width:320px) {

}
@media only screen and (min-width:480px) {

}
@media only screen and (min-width:768px) {

}
@media only screen and (min-width:1024px) {

}
@media only screen and (min-width:1140px) {

}
@media only screen and (min-width:1280px) {

}
@media only screen and (-webkit-min-device-pixel-ratio:1.5),
	   only screen and (min-resolution:144dpi) {

}

/*------------------------------------*\
    MISC
\*------------------------------------*/

::selection {
	background:#F01776;
	color:#FFF;
	text-shadow:none;
}
::-webkit-selection {
	background:#F01776;
	color:#FFF;
	text-shadow:none;
}
::-moz-selection {
	background:#F01776;
	color:#FFF;
	text-shadow:none;
}
   
/*------------------------------------*\
    WORDPRESS CORE
\*------------------------------------*/
   
.alignnone {
	margin:5px 20px 20px 0;
}
.aligncenter,
div.aligncenter {
	display:block;
	margin:5px auto 5px auto;
}
.alignright {
	float:right;
	margin:5px 0 20px 20px;
}
.alignleft {
	float:left;
	margin:5px 20px 20px 0;
}
.aligncenter {
	display:block;
	margin:5px auto 5px auto;
}
a img.alignright {
	float:right;
	margin:5px 0 20px 20px;
}
a img.alignnone {
	margin:5px 20px 20px 0;
}
a img.alignleft {
	float:left;
	margin:5px 20px 20px 0;
}
a img.aligncenter {
	display:block;
	margin-left:auto;
	margin-right:auto;
}
.wp-caption {
	background:#FFF;
	border:1px solid #F0F0F0;
	max-width:96%;
	padding:5px 3px 10px;
	text-align:center;
}
.wp-caption.alignnone {
	margin:5px 20px 20px 0;
}
.wp-caption.alignleft {
	margin:5px 20px 20px 0;
}
.wp-caption.alignright {
	margin:5px 0 20px 20px;
}
.wp-caption img {
	border:0 none;
	height:auto;
	margin:0;
	max-width:98.5%;
	padding:0;
	width:auto;
}
.wp-caption .wp-caption-text,
.gallery-caption {
	font-size:11px;
	line-height:17px;
	margin:0;
	padding:0 4px 5px;
}
.resize-your-window{
    display: none;
}

/*------------------------------------*\
    PRINT
\*------------------------------------*/

@media print {
	* {
		background:transparent !important;
		color:#000 !important;
		box-shadow:none !important;
		text-shadow:none !important;
	}
	a,
	a:visited {
		text-decoration:underline;
	}
	a[href]:after {
		content:" (" attr(href) ")";
	}
	abbr[title]:after {
		content:" (" attr(title) ")";
	}
	.ir a:after,
	a[href^="javascript:"]:after,
	a[href^="#"]:after {
		content:"";
	}
	pre,blockquote {
		border:1px solid #999;
		page-break-inside:avoid;
	}
	thead {
		display:table-header-group;
	}
	tr,img {
		page-break-inside:avoid;
	}
	img {
		max-width:100% !important;
	}
	@page {
		margin:0.5cm;
	}
	p,
	h2,
	h3 {
		orphans:3;
		widows:3;
	}
	h2,
	h3 {
		page-break-after:avoid;
	}
}

.isotope,
.isotope .isotope-item {
  /* change duration value to whatever you like */
  -webkit-transition-duration: 0.8s;
     -moz-transition-duration: 0.8s;
      -ms-transition-duration: 0.8s;
       -o-transition-duration: 0.8s;
          transition-duration: 0.8s;
}

.isotope {
  -webkit-transition-property: height, width;
     -moz-transition-property: height, width;
      -ms-transition-property: height, width;
       -o-transition-property: height, width;
          transition-property: height, width;
}

.isotope .isotope-item {
  -webkit-transition-property: -webkit-transform, opacity;
     -moz-transition-property:    -moz-transform, opacity;
      -ms-transition-property:     -ms-transform, opacity;
       -o-transition-property:      -o-transform, opacity;
          transition-property:         transform, opacity;
}

/**** disabling Isotope CSS3 transitions ****/

.isotope.no-transition,
.isotope.no-transition .isotope-item,
.isotope .isotope-item.no-transition {
  -webkit-transition-duration: 0s;
     -moz-transition-duration: 0s;
      -ms-transition-duration: 0s;
       -o-transition-duration: 0s;
          transition-duration: 0s;
}

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) { 
    
    .top-nav li.bandeau a > div{
        background-image: url('img/bandeau@x2.png');
    }
    .top-nav li.search{ 
        background-image: url('img/loupe@x2.png');
    }
    .top-nav li.search:hover{ 
        background-image: url('img/loupe-c@x2.png');
    }
    .top-nav li.pinterest{ 
        background-image: url('img/social-icons/pin-top-15@x2.png');
    }
    .top-nav li.pinterest:hover{
        background-image: url('img/social-icons/pin-top-15-c@x2.png');
    }
    .top-nav li.twitter{ 
        background-image: url('img/social-icons/twitter-top-20@x2.png');
    }
    .top-nav li.twitter:hover{ 
        background-image: url('img/social-icons/twitter-55-c.png');
    }
    .top-nav li.facebook{ 
        background-image: url('img/social-icons/fb-top-20@x2.png');
    }
    .top-nav li.facebook:hover{
        background-image: url('img/social-icons/fb-55-c.png');
    }
    .logo{
        background-image: url('img/logo@2x.png');
        background-size: 80px;
        background-repeat: no-repeat;
        background-position: 50% 48%;
    }
    .tools .facebook{
        background: url('img/icon-fb@x2.png') center center no-repeat;
        background-size: 40px;
    }
    .tools .twitter{
        background: url('img/icon-twitter@x2.png') center center no-repeat;
        background-size: 40px;
    }
    .tools .pinterest{
        background: url('img/icon-pin@x2.png') center center no-repeat;
        background-size: 40px;
    }
    .tools .facebook:hover{
        background: url('img/icon-fb-color@x2.png') center center no-repeat;
        background-size: 40px;
    }
    .tools .twitter:hover{
        background: url('img/icon-twitter-color@x2.png') center center no-repeat; 
        background-size: 40px;
    }
    .tools .pinterest:hover{
        background: url('img/icon-pin-color@x2.png') center center no-repeat; 
        background-size: 40px;
    }
    div.fancy-select div.trigger {
        background-image: url('../img/dropdown-background@x2.png');
        background-size: 52px;
    }
    footer .social .fb{
        background-image: url('img/social-icons/fb-55@x2.png');
    }
    footer .social .fb:hover{
        background-image: url('img/social-icons/fb-55-c@x2.png');
    }
    footer .social .twitter{
        background-image: url('img/social-icons/twitter-55@x2.png');
    }
    footer .social .twitter:hover{
        background-image: url('img/social-icons/twitter-55-c@x2.png');
    }
    footer .social .google{
        background-image: url('img/social-icons/google-55@x2.png');
    }
    footer .social .google:hover{
        background-image: url('img/social-icons/google-55-c@x2.png');
    }
    footer .social .be{
        background-image: url('img/social-icons/be-55@x2.png');
    }
    footer .social .pinterest{
        background-image: url('img/social-icons/pin-55@x2.png');
    }
    footer .social .pinterest:hover{
        background-image: url('img/social-icons/pin-55-c@x2.png');
    }
    footer .social .linkedin{
        background-image: url('img/social-icons/linkedin-55@x2.png');
    }
    footer .social .linkedin:hover{
        background-image: url('img/social-icons/linkedin-55-c@x2.png');
    }

}

@media only screen and (max-width: 979px){
    
    body{
        background-image: url('img/project-pattern.jpg');
        background-repeat: repeat;
    }
    .wrapper{
        display: none;
    }
    .resize-your-window{
        display: inline-block;
        height: 100%;
        color: #fff;
        padding: 100px;
        text-align: center;
        font-size: 20px;
        width: 100%;
    }
    
}

@media only screen and (min-width: 980px) and (max-width: 1024px) {
    
    .banner{
        background-size: auto 300px;
        height: 300px
    }
    .banner h1{
        font-size: 40px;
        line-height: 40px;
    }
    .title-border-top{
        margin-top: 50px;
    }
    #talents-page .banner{
        background-size: auto 300px;
        height: 300px;
    }
    #project-page > div{
        display: inline-block;
        background: url('img/diagonal-line-light-1024.png') 0 0 no-repeat; 
    }
    #project-page .infos {
        width: 385px;
    }
    #project-page .sticky {
        width: 385px;
    }
    #project-page h1 {
        width: 200px;
        font-size: 30px;
        line-height: 32px;
    }
    #project-page .description {
        width: 200px;
    }
    #project-page .content{
        margin-left: 385px;
    }
    #project-page .details span{ 
        font-weight: 400;
        font-size: 10px;
    }
    #project-page .director{
        margin-top: 0;
    }
    #project-page .other-projects .left > div {
        font-size: 30px;
        line-height: 30px;
    }
    #services-page article .left {
        padding: 170px 90px 200px 100px;
    }
    #services-page article p {
        font-size: 14px;
    }
    #services-page article .right .title {
        width: 70%;
    }
    #services-page article .right li {
        font-size: 14px;
        line-height: 18px;
    }
    #services-page article .right ul {
        width: 70%;
    }
    #services-page article .citation p {
        width: 340px;
    }
    #services-page article .citation {
        background-size: 50%;
        background-position: 100px center;
    }
    .roll div {
        width: 99%;
    }
    #services-page .studio-rental .title-border-top{
        margin-top: 70px;
    }
    #services-page .studios .info {
        padding: 125px 90px 140px 90px;
    }
    #services-page .studios .info .content {
        font-weight: 400;
        line-height: 20px;
    }
    #services-page article .right > div {
        margin-bottom: 5PX;
    }
    #services-page article .right ul {
        padding: 10px 30px 0 0;
    }
    #services-page article .right {
        padding: 135px 0 50px 40px;
    }
    #company-page .content{
        margin: 40px 0 0 95px;
        width: 400px;
        width: 400px;
        font-weight: 400;
        font-size: 12px;
    }
    #company-page .fancy-logo {
        background-position: 50% 30%;
        background-size: 80%;
        width: 480px;
    }
    #company-page .clients .list > div:nth-child(4n+4) .client {
        border-right: none;
    }
    #company-page .clients .list > div:nth-child(6n+6) .client {
        border-right: 1px solid #4b494b;
    }
    #ecom-page .process > div {
        width: 750px;
    }
    #ecom-page .process .step {
        margin-right: 30px;
        width: 80px
    }
    #ecom-page .process > div .step:last-child{
        margin-right: 0;
    }
    #ecom-page .service h2 {
        font-size: 40px;
    }
    #ecom-page .service .description {
        font-size: 18px;
        line-height: 20px;
    }
    #ecom-page .works > div {
        width: 750px;
    }
    #ecom-page .quote > div {
        width: 100%;
    }
    #ecom-page .quote {
        padding: 95px 
    }
    #ecom-page .quote .citation {
        width: 375px;
    }
    form .input {
        width: 100%;
        position: relative;
    }
    span.select {
        width: 100%;
    }
    #ecom-page .quote form .col {
        width: 48%;
    }
    #ecom-page .quote form .col.right {
        width: 48%;
    }
    #ecom-page .service {
        min-height: 680px;
    }
    #contact-page .banner{
        padding: 0 0 0 100px;
    }
    #contact-page article{
        padding: 30px 100px;
    }
    footer .title-border-bottom{
        margin: 150px 100px 20px;
    }
    footer .do-not-miss{
        padding: 0 100px 15px;
    }
    footer .join{
        padding: 0 100px 75px;
    }
    footer .social{
        padding: 0 50px;
    }
    
}

@media only screen and (min-width: 1025px) and (max-width: 1150px) {
    #ecom-page .process > div {
        width: 850px;
    }
    #ecom-page .process .step {
        margin-right: 30px;
        width: 90px;
    }
    #ecom-page .works > div {
        width: 850px;
    }
    #contact-page .banner{
        padding: 0 0 0 150px;
    }
    #contact-page article{
        padding: 30px 150px;
    }
}

@media only screen and (min-width: 1025px) and (max-width: 1440px) {
    
    
    
}

@media only screen and (min-width: 1441px) and (max-width: 1920px) {
    
        
    
}

@media only screen and (min-width: 1021px){
    
    #project-page > div{
        display: inline-block;
        background: url('img/diagonal-line-light-2560.png') 0 0 no-repeat;
    }
    
}